<!doctype html>

<!-- 
320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark http://twitter.com/keithclarkcouk
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT
-->

<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">



<div th:replace="head"></div>
<body class="clearfix">

	<div th:replace="header"></div>

	<!-- / Start main -->
	<div id="main" class="container_12 clearfix" role="main">


		<div class="box twothirds">
			<div class="boxheading clearfix">
				<h3>Dados Iniciais</h3>
				<a class="move"></a>
			</div>
			<section class="clearfix">
				<div class="grid_5 suffix_1">
					<div class="row">

						<div class="clear">&nbsp;</div>
						<form th:action="salva" th:method="post">
							<button type="submit" class="btn green mrb5">Salva Dados
								iniciais dos Senadores</button>
						</form>

						<div class="clear">&nbsp;</div>
						<div class="notification green" th:if="${teste} == true">
							<p>
								<img src="img/icons/success.png" />informações salvas com
								sucesso
							</p>
						</div>
					</div>
				</div>
				
			</section>
			<div class="boxheading clearfix">
				<h3>Dados Completos</h3>
				<a class="move"></a>
			</div>
			<section class="clearfix">
				<div class="grid_5 suffix_1">
					<div class="row">
						<div class="clear">&nbsp;</div>
						<form th:action="dados_completos" th:method="post">
							<button type="submit" class="btn green mrb5">Dados completos de cada Senador</button>
						</form>
						<div class="clear">&nbsp;</div>

					</div>
				</div>
			</section>
			<div class="boxheading clearfix">
				<h3>Análise total das Materias PLS</h3>
				<a class="move"></a>
			</div>
			<section class="clearfix">
				<div class="grid_5 suffix_1">
					<div class="row">
						<div class="clear">&nbsp;</div>
						<form th:action="pls" th:method="post">
							<button type="submit" class="btn green mrb5">Analise de materias</button>
						</form>
						<div class="clear">&nbsp;</div>

					</div>
				</div>
			</section>
		</div>
		<!-- / Box -->
		<div class="box twothirds">
			<div class="boxheading clearfix">
				<h3>
					<img src="img/icons/fatcow-hosting-icons/32x32/chart_bar.png"
						alt="" />Charts
				</h3>
				<a class="move"></a>
			</div>
			<section>
				<h4>Chart with bars</h4>
				<div id="chart_bars" class="flot_chart"
					style="width: 100%; height: 300px;"></div>
				<code class="mt15 hint">div id="chart_bars"</code>
				<h4 class="mt15">Chart with interactive data points</h4>
				<div id="chart" class="flot_chart"
					style="width: 100%; height: 300px;"></div>
				<code class="mt15 hint">div id="chart"</code>
				<h4 class="mt15">Moving chart</h4>
				<div id="chart_moving" class="flot_chart"
					style="width: 100%; height: 300px;"></div>
				<code class="mt15 hint">
					div id="chart_moving" <br /> <small>For more information
						check plugin page: <a
						href="http://people.iola.dk/olau/flot/examples/">http://people.iola.dk/olau/flot/examples/</a>.
						Chart config file is located in js/jflot.scripts
					</small>
				</code>

			</section>
		</div>

		<!-- / Box -->
		<div class="box onethird">
			<div class="boxheading clearfix">
				<h3>
					<img src="img/icons/fatcow-hosting-icons/32x32/chart_pie.png"
						alt="" />Pie charts
				</h3>
				<a class="move"></a>
			</div>
			<section>
				<h4>Donut chart</h4>
				<div id="chart_donut" class="flot_chart"
					style="width: 100%; height: 300px;"></div>
				<code class="mt15 hint">div id="chart_donut"</code>
				<h4 class="mt15">Pie chart</h4>
				<div id="chart_pie" class="flot_chart"
					style="width: 100%; height: 300px;"></div>
				<code class="mt15 hint">div id="chart_pie"</code>
				<h4 class="mt15">Pie chart</h4>
				<div id="chart_pie2" class="flot_chart"
					style="width: 100%; height: 300px;"></div>
				<code class="mt15 hint">div id="chart_pie2"</code>
			</section>
		</div>

	</div>
	<!-- / End main -->

	<!-- / Footer -->
	<div th:replace="footer"></div>
	<!-- / End footer -->

	<!-- Scripts -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.ui.spinner.js"></script>
	<!-- Loading the spinner before jqueryui, because it's officially part of jQuery UI 1.9 and not compatible with 1.8 -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.easing.1.3.js"></script>
	<script type="text/javascript"
		src="js/plugins/jquery.mousewheel.min.js"></script>
	<script type="text/javascript"
		src="js/plugins/jquery.collapsible.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.tipsy.js"></script>
	<script type="text/javascript"
		src="js/plugins/autoresize.jquery.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.autotab-1.1b.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="js/plugins/ui.multiselect.js"></script>
	<script type='text/javascript'
		src='js/plugins/fullcalendar/fullcalendar.min.js'></script>
	<script type="text/javascript"
		src="js/plugins/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript"
		src="js/plugins/jquery.jBreadCrumb.1.1.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.dataTables.js"></script>
	<script type="text/javascript" src="filemanager/js/elfinder.min.js"></script>

	<!-- / We're loading flot scripts separately because not many pages will need it. -->
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/plugins/excanvas.js"></script><![endif]-->
	<script type='text/javascript' src='js/plugins/jquery.flot.js'></script>
	<script type='text/javascript' src='js/plugins/jquery.flot.pie.min.js'></script>
	<script type="text/javascript" src="js/plugins/jflot.scripts.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.flot.resize.js"></script>

	<script type="text/javascript" src="js/plugins/hoverIntent.js"></script>
	<script type="text/javascript" src="js/plugins/superfish.js"></script>

	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<script src="js/mylibs/helper.js"></script>

	<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/libs/imgsizer.js"></script>
<![endif]-->

	<script>
// iOS scale bug fix
MBP.scaleFix();

// Respond.js
yepnope({
	test : Modernizr.mq('(only all)'),
	nope : ['js/libs/respond.min.js']
});
</script>

	<!-- http://mths.be/aab -->


	<!-- This is the picker, remove it when you use this template -->

	<!-- End of picker -->

</body>
</html>