<footer role="contentinfo" class="clearfix">
		<section class="container_12">
			<!-- / Using 960's grid container_12 to standartize paddings/margins -->
			<div class="lower clearfix">
				<nav class="mainnav l">
					<ul id="mainnavftr" class="clearfix">
						<li><a href="dashboard.html" title="Link title here"><img
								src="img/icons/helloadmin/dashboard.png" alt="" /></a></li>
						<li><a href="layout1.html" title="Link title here"><img
								src="img/icons/helloadmin/layouts.png" alt="" /></a></li>
						<li><a href="gallery.html" title="Link title here"><img
								src="img/icons/helloadmin/modules.png" alt="" /></a></li>
						<li><a href="tables.html" title="Link title here"><img
								src="img/icons/helloadmin/features.png" alt="" /></a></li>
					</ul>
				</nav>
				<a href="#" id="top" class="top">top</a>
			</div>
			<div class="smallest">
				<div class="l">© Copyright 2018 MySenador</div>
				<div class="r">© Copyright 2018 MySenador</div>
			</div>
		</section>
	</footer>